<div class = "jumbotron" id = "home">
    <h1>Admin</h1>
</div>  

<div class = 'container'>
    <div class = 'row'>
        <div class="col-md-9 col-md-offset-2">
            <div class = 'jumbotron'>
                <h1><%= link_to 'About', about_posts_path %></h1>  
            </div>
            <div class = 'jumbotron'>
                <h1><%= link_to 'Blog', blog_posts_path %></h1>  
            </div>
            <div class = 'jumbotron'>
                <h1><%= link_to 'Portfolio', portfolio_posts_path %></h1>
            </div>
            <div class = 'jumbotron'>
                <h1><%= link_to 'Notes', note_posts_path %></h1>  
            </div>
        </div>
    </div>
</div>
