<div class = 'article_profile'>
    <%= image_tag("RajMaitra.jpg", width: '200') %> My name is Raj Devine Maitra. I am a Minnesotan that lives in San Francisco. This site contains my work during my graduate education at University of California Santa Cruz, my music, interests and contact information. Thanks for checking it out.
</div>



