<div class = "jumbotron" id = "home">
    <h1>Portfolio</h1>
</div>  

<div class = 'container'>
    <div class = 'row'>
        <div class="col-md-9 col-md-offset-2">
<% @posts.each do |post| %>
    <div class = 'jumbotron'>
        <h1><%= post.title %></h1>
        <p><%= post.created_at.to_s[0,19] %></p>
        <p><%= post.content.html_safe %></p>  
    </div>
<% end %>
    </div>
    </div>
</div>
