/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body{
    font-family:'Gotham SSm',Helvetica,Arial,sans-serif;
    background-color: #10253C;
    background-image: url("https://dsdgxy29r26xr.cloudfront.net/assets/bg-685cab2f19fd14f5f5e6483682b7733f.png");
    background-repeat: repeat-x;
    color: #BBDAF9;
}
    
h1{
    color: white; 
    font-size:15px !important;
}

.row{
    color: #BBDAF9;
}

.row h1{
    border-bottom:1px solid #BBDAF9;
}

#welcome{
    font-family: 'VT323';
    font-size:50px;
}

#logo1{
    padding:20px;
    font-size:50px;
    opacity:0.2;
    font-family: 'VT323';
}

#logo{
    font-family: 'Gochi Hand', cursive;
    color: white;
} 

#code{
    padding:5px;
    background-color:transparent;
    border: none !important;
    color:white;
}

a{
    color:#428BCA !important;
}

a:hover{
    color:white !important;
}

#navbar{
    position: absolute;
    top: 80px;
    background: none repeat scroll 0 0 rgba(31, 70, 108, 0.5);
    border-bottom: 1px solid rgba(31, 70, 108, 0.3);
}
