<div class = "row">
    <h1>Editing About Posts</h1>
</div>  

<div class = 'container'>
    <div class = 'row'>

        <h1>Editing about_post</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @about_post %> |
        <%= link_to 'Back', about_posts_path %>
    </div>
</div>
