// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    font-family:'Gotham SSm',Helvetica,Arial,sans-serif;
}

#bg{
    position:fixed;
    width:100%;
    height:100%;
    top:50px;
    background: url("http://amyontheprairie.files.wordpress.com/2011/03/minneapolis_on_mississippi_river.jpg");
    background-size: 100%;
    z-index:-50;
}

#home{
    position:absolute;
    width: 100%;
    top:50px;
    background: #000;
    
    h1{
        font-family: 'Gochi Hand', cursive;
        color: white; 
     }
    
    #logo{
        position:absolute;
        top:-200px;
        left:200px;
       font-family: 'Permanent Marker', cursive;
       color: #999; 
       font-size:250px;
    } 
     
}

.jumbotron{
    color:white;
    background:#333;
    
    h1{
        font-family: 'Gochi Hand', cursive;
    }
    
    a{
        color:white;
    }
}

#codeName{
    color:white;
    font-family: 'Gochi Hand', cursive;
    background:#000;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding:5px;
}

#code{
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

#nav{
    background:#000;
    border-style:none;
    a{
        font-family: 'Gochi Hand', cursive;
        color:white;
        -webkit-text-shadow: none;
        text-shadow: none;
        transition: all .5s;
        -webkit-transition: all .5s;
     }
     
     a:hover{
        background-color: red;     
     }
}

.container{
    position:absolute;
    top:250px;
}

    .article_profile img{
        float:left;
    }

    .article_web_piece{
        width:233px;
        color:#333;
        font-size:80px;        
    }

    .article_title{
        font-size:30px;
        font-weight:bold;
    }
    .article_date{
        color:#aaa;
    }
