<div>
    <div class="container">
        <select ng-options="type.name for type in parent_types" ng-change="filter_posts(type)" ng-model="type">
            <option></option>
        </select>
        <select ng-options="type.name for type in sub_types" ng-change="filter_posts(sub_type)" ng-model="sub_type">
            <option></option>
        </select>
    </div>
</div>
<div>
	<div ng-repeat="post in filtered_posts" class="row jumbotron">
        <div class="container">
            <div>
                {{post.type}}
                <b>{{post.sub_type}}</b>
            </div>
            <h3><a ng-href="/posts/?id={{post.id}}">{{post.title}}</a></h3>
            <div>{{format_date(post.created_at)}}</div>
            <div btf-markdown="post.content.substring(0,200)">
            </div>
        </div>
    </div>
</div>
