<!DOCTYPE html>
<html>
<head>
  <title>rmaitra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 

</head>
<body ng-app="app">

<div ng-controller="IndexCtrl" >
    <nav class="navbar container">
      <div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand fontg1 font1" href="/"><b>the raj</b></a>
          <ul class="nav navbar-nav phone pull-right">
            <li>
            </li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right desktop" style="padding-right:50px">
            <li>
                <a class="clickable" ng-click="go_profile()"><span class="glyphicon glyphicon-user"></span></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
         
      </div><!-- /.container-fluid -->
    </nav>

    <div>
      <%= yield %>
    </div>

</div>

</body>
</html>

